body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bottom-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  position: fixed;
  background-color: rgb(129, 75, 201);

  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

#bottom-bar-item {
  color: white;
}
