.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: url(https://w.wallhaven.cc/full/w8/wallhaven-w87xeq.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  width: fit-content;
  margin: 0 auto;
  padding: 20px 80px;

  border-radius: 20px;
  border-color: #b7b7b7;
  border-width: 1px;
  border-style: solid;
  color: white;
  font-family: "Courier New", Courier, monospace;
  backdrop-filter: blur(5px);
}

.login-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.login-input-suffix {
  margin-left: 13px;
  margin-bottom: 12px;
}

.login-footer {
  margin-top: 20px;
  text-align: center;
}
