#modal-container {
  padding: 20px;
  width: fit-content;
  margin-bottom: 20px;
  margin-left: 40px;
  border-radius: 20px;
  border-color: black;
  background-color: #ffffff;
  color: black;
}

#modal-header {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}
